<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Pambalas, Revender, Fornecer" />
    <meta name="description" content="Venda de productos informais e não só" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome/all/css/all.css" />
    <link rel="shortcut icon" href="" type="image/jpg" />
    <title>Notes App</title>
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <!-- Modal Content -->
      <%- include("./partials/modals") %>
      <!-- Ends Modal Content -->

      <!-- Header Content -->
      <%- include("./partials/header") %>
      <!-- Ends Header Content -->

      <!-- Main Content -->
      <%- include("./partials/main") %>
      <!-- Ends Main Content -->
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="/js/index.js"></script> -->
    <script src="/css/font-awesome/all/js/all.js"></script>
  </body>
</html>
